.App {
  text-align: center;
  font-family: 'Righteous', sans-serif;
  background-image: url('https://img.freepik.com/free-vector/puzzle-solving-question-mark-background-guidance-support_1017-43014.jpg?w=1060&t=st=1698911517~exp=1698912117~hmac=72ec83ed9bbfe442c88e627296a3f2c44e575528497be538a277df2c7591d1e2');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

